* {
  box-sizing: border-box;
}

html,
body {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}


.wrap {
  padding: 0 120px;
}

/*Header*/

.header {
  background-color: #07569A;
  /* height: 66px; */
  color: white;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: 10px 51px;

  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.header__wish{
  display: flex;
  padding: 11px 0 11px 20px;

  /* width: 159px; */

  border-left: 1px solid #FFFFFF;
}

.header__wish-wrap__img {
  margin-right: 12px;
  width: 34px;
  height: 34px;
}

.header__wish-wrap__text__h2 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__wish-wrap__text__p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

/*Content*/

.content {
  height: 100%;
}

.content .wrap {
  display: flex;
  justify-content: space-between;


  height: 100%;
}

.content-navigation {
  padding: 0 20px;

  max-width: 234px;
  height: 100%;

  list-style-type: none;

  border-bottom: 1px solid #D4D4D4;

  background-color: #E5E4E5;
}

.content-navigation li {
  margin-top: 20px;
}

/* .content-navigation li:first-child {
  
} */

.content-viwer {
  padding: 20px 30px;
  flex: 2;

  border-bottom: 1px solid #D4D4D4;
}

.content-viwer__history {
  display: flex;
}

.content-viwer__history li{
  /* display: inline; */
  margin-right: 19px;
}


.content-viwer__history li a {
  color: #3072C4;
}

.content-viwer__history li a:hover {
  text-decoration: underline;
}


/*Footer*/

.footer {
  padding: 16px 0;
}

.footer__text {
  margin: 0;

  font-size: 16px;
}